<form class="form-change-password" [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && changePassword()" novalidate>
  <h2 class="form-change-password-heading">Please insert data</h2>
  <div class="form-group"
       [ngClass]="{ 'has-error': (oldPassword.dirty || oldPassword.touched) && !oldPassword.valid }">
    <input type="password" class="form-control" placeholder="Old password" name="old-password"
           formControlName="oldPassword" required autofocus>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': (newPassword.dirty || newPassword.touched) && !newPassword.valid }">
    <input type="password" class="form-control" placeholder="New password" name="new-password"
           formControlName="newPassword" required autofocus>
  </div>
  <div class="form-group"
       [ngClass]="{ 'has-error': (confirmPassword.dirty || confirmPassword.touched) && !confirmPassword.valid}">
    <input type="password" class="form-control" placeholder="New password" name="confirm-password"
           formControlName="confirmPassword" required>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Change password" [disabled]="loading" />
  </div>
</form>
